@model ChangePasswordBindingModel
@{
    ViewData["Title"] = "Change password";
}

<div class="col-md-9">
    <div class="box">
        <h1>Change password</h1>
        <p class="lead">Change your password here..</p>
        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

        <hr />
        <form asp-area="Identity" asp-controller="Account" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input asp-for="CurrentPassword" class="form-control">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="RetypeNewPassword"></label>
                        <input asp-for="RetypeNewPassword" class="form-control">
                        <span asp-validation-for="RetypeNewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save new password</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            var message = '@TempData["Success"]';

            if (message.length !== 0) {
                showNotify({ message: message});
            }
        });
    </script>
}
