@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li>@ViewData["Title"]</li>
        </ul>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">My account</h3>
            </div>

            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li @if((string)ViewData["Title"] == "My orders") { @:class="active" 
                        } ><a asp-area="Identity" asp-controller="Account" asp-action="MyOrders"><i class="fa fa-list"></i> My orders</a></li>
                    <li @if ((string)ViewData["Title"] == "My wishlist") { @: class="active"
                        }><a asp-area="Identity" asp-controller="Account" asp-action="MyWishlist"><i class="fa fa-heart"></i> My wishlist</a></li>
                    <li @if ((string)ViewData["Title"] == "Personal details") { @: class="active"
                        }><a asp-area="Identity" asp-controller="Account" asp-action="PersonalDetails"><i class="fa fa-user"></i> Personal details</a></li>
                    <li @if ((string)ViewData["Title"] == "Change password") { @: class="active"
                        }><a asp-area="Identity" asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-key"></i> Change password</a></li>
                    <li><a href="index.html"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}