@{
    ViewData["Title"] = "Confrim email";
}

<div class="container">
    <div class="col-md-12">
        <div class="row" id="error-page">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box">
                    <p class="text-center"><img src="~/images/logo.png" alt="Obaju template"></p>

                    <h3>Thank you for confirming your email.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
