@model RegisterFormBindingModel

@{
    ViewData["Title"] = "New account";
}

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li>@ViewData["Title"]</li>
        </ul>
    </div>

    <div class="col-md-6 col-md-offset-3">
        <div class="box">
            <h1>New account</h1>
            <p class="lead">Not our registered customer yet?</p>
            <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
            <p class="text-muted">If you have any questions, please feel free to <a asp-area="" asp-controller="Home" asp-action="Contact">contact us</a>, our customer service center is working for you 24/7.</p>
            <hr>
            <form asp-route-returnUrl="@ViewBag.ReturnUrl" method="post">
                <div asp-validation-summary="All"></div>
                <form-group asp-for="FirstName"></form-group>
                <form-group asp-for="LastName"></form-group>
                <form-group asp-for="Email"></form-group>
                <form-group asp-for="Password"></form-group>
                <form-group asp-for="ConfirmPassword"></form-group>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}