<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="all,follow" />
    <meta name="googlebot" content="index,follow,snippet,archive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Obaju e-commerce template" />
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz" />
    <meta name="keywords" content="" />

    <title>@ViewData["Title"] - Obaju</title>

    <link rel="shortcut icon" href="~/favicon.png">

    <link rel="stylesheet"type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100" >

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.default.css" id="theme-stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/css/ns-default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ns-style-attached.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ns-style-bar.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ns-style-growl.css" />

    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/respond.min.js"></script>
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <partial name="_HeaderPartial" />

    <div id="all">
        <div id="content">
            @RenderBody()
        </div>

        <partial name="_FooterPartial" />
    </div>

    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    @*<script src="~/js/modernizr.js"></script>*@
    <script src="~/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/front.js"></script>

    <script src="~/js/classie.js"></script>
    <script src="~/js/notificationFx.js"></script>

    <script>
        function showNotify({ message, layout = 'growl', effect = 'slide', type = 'success', timeout = 6000 }) {
            var notification = new NotificationFx({
                message: '<p>' + message + '</p>',

                // layout type: growl|attached|bar|other
                layout: layout,

                // effects for the specified layout:
                // for growl layout: scale|slide|genie|jelly
                // for attached layout: flip|bouncyflip
                // for other layout: boxspinner|cornerexpand|loadingcircle|thumbslider
                // ...
                effect: effect,

                // notice, warning, error, success
                // will add class ns-type-warning, ns-type-error or ns-type-success
                type: type,

                // if the user doesn´t close the notification then we remove it
                // after the following time
                ttl: timeout
            });

            notification.show();
        }

        $(function () {
            var form = $('#subscribe-form');

            $(form).submit(function (event) {
                event.preventDefault();

                var formData = $(form).serialize();

                $.ajax({
                    type: 'POST',
                    url: $(form).attr('action'),
                    data: formData,
                    success: function (res) {
                        showNotify({ message: res });
                        $('#subscribe-email').val('');
                        console.log(res);
                    },
                    error: function (err) {
                        showNotify({ message: err.responseText, type: 'error' });
                        $('#subscribe-email').val('');
                        console.log(err);
                    }
                });
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
